In [23]:
import pandas as pd
import yfinance as yf

df = pd.read_csv("ind_nifty500list.csv")

In [24]:
def Get_Fyers_Symbol(row):
    Symbol= row['Symbol'] 
    Series = "EQ"
    Ex = "NSE"
    Ticker = f"{Ex}:{Symbol}-{Series}"
    return Ticker
    
df['Fyers Tickers'] = df.apply(Get_Fyers_Symbol,axis=1)

In [25]:
df

,Company Name,Industry,Symbol,Series,ISIN Code,Fyers Tickers
0,360 ONE WAM Ltd.,Financial Services,360ONE,EQ,INE466L01038,NSE:360ONE-EQ
1,3M India Ltd.,Diversified,3MINDIA,EQ,INE470A01017,NSE:3MINDIA-EQ
2,ABB India Ltd.,Capital Goods,ABB,EQ,INE117A01022,NSE:ABB-EQ
3,ACC Ltd.,Construction Materials,ACC,EQ,INE012A01025,NSE:ACC-EQ
4,AIA Engineering Ltd.,Capital Goods,AIAENG,EQ,INE212H01026,NSE:AIAENG-EQ
...,...,...,...,...,...,...
496,Zensar Technolgies Ltd.,Information Technology,ZENSARTECH,EQ,INE520A01027,NSE:ZENSARTECH-EQ
497,Zomato Ltd.,Consumer Services,ZOMATO,EQ,INE758T01015,NSE:ZOMATO-EQ
498,Zydus Lifesciences Ltd.,Healthcare,ZYDUSLIFE,EQ,INE010B01027,NSE:ZYDUSLIFE-EQ
499,Zydus Wellness Ltd.,Fast Moving Consumer Goods,ZYDUSWELL,EQ,INE768C01010,NSE:ZYDUSWELL-EQ
500,eClerx Services Ltd.,Services,ECLERX,EQ,INE738I01010,NSE:ECLERX-EQ

In [105]:
import yfinance as yf
import pandas as pd
import ta
import pandas_ta as pdta

ticker = yf.Ticker("TTML.BO")
df = ticker.history(period="500d", interval="1d")
supertrend = pdta.supertrend(df['High'], df['Low'], df['Close'], length=7, multiplier=3)
df['Trend'] = supertrend['SUPERTd_7_3.0']
df['EMA_5'] = ta.trend.ema_indicator(df['Close'], window=5)
df['EMA_200'] = ta.trend.ema_indicator(df['Close'], window=200)
df['EMA_200'] = ta.trend.ema_indicator(df['Close'], window=200)
df['RSI'] = pdta.momentum.rsi(df['Close'], window=14)
df['Trend_signal'] = ((df['Trend'] == 1) & (df['Trend'].shift(1) == -1))
df['RSI_signal'] = df['RSI'] <= 50
df['Volume_signal'] = df['Volume'] > df['Volume'].rolling(window=20).mean()
df['Buy'] = (df[['Trend_signal', 'RSI_signal', 'Volume_signal']].sum(axis=1) >= 2)
df['SL'] = df['Close'].shift(1).rolling(window=60).min() 
df['Target'] =  df['Close']  + (df['Close'] - df['SL'])*1.5
rem_col = ['Dividends','Stock Splits','EMA_5','EMA_200','RSI']
df = df.drop(columns=rem_col)

In [106]:
df

,Open,High,Low,Close,Volume,Trend,Trend_signal,RSI_signal,Volume_signal,Buy,SL,Target
Date,,,,,,,,,,,,
2021-12-13 00:00:00+05:30,156.350006,156.350006,156.350006,156.350006,540287,1,False,False,False,False,NaN,NaN
2021-12-14 00:00:00+05:30,162.399994,164.149994,156.350006,164.149994,2673292,1,False,False,False,False,NaN,NaN
2021-12-15 00:00:00+05:30,166.199997,172.350006,160.000000,172.350006,1402684,1,False,False,False,False,NaN,NaN
2021-12-16 00:00:00+05:30,180.949997,180.949997,180.949997,180.949997,699964,1,False,False,False,False,NaN,NaN
2021-12-17 00:00:00+05:30,189.949997,189.949997,171.949997,189.699997,4447015,1,False,False,False,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-12 00:00:00+05:30,91.010002,92.660004,89.879997,90.169998,655420,-1,False,True,False,False,85.220001,97.594994
2023-12-13 00:00:00+05:30,90.870003,91.779999,89.449997,89.930000,299697,-1,False,True,False,False,85.220001,96.994999
2023-12-14 00:00:00+05:30,90.000000,93.250000,89.900002,91.660004,635994,-1,False,False,False,False,85.220001,101.320007
2023-12-15 00:00:00+05:30,91.989998,93.339996,90.760002,91.129997,353009,-1,False,False,False,False,85.220001,99.994991
2023-12-18 00:00:00+05:30,92.690002,98.209999,92.239998,97.599998,1953476,1,True,False,True,True,85.220001,116.169994