In [7]:
import pandas as pd
from ta import momentum, trend
from ta import momentum,trend
import numpy as np
import yfinance as yf

In [8]:
# Define the stock symbol and timeframe
symbol = '^NSEI'  # Replace 'AAPL' with the symbol of the stock you want to fetch.
# symbol = 'HDFCBANK.NS'  # Replace 'AAPL' with the symbol of the stock you want to fetch.
interval = '1d'
period = '50d'

df = yf.download(symbol, interval=interval, period=period)
df['Date'] = df.index.date
df['Time'] = df.index.time
df = df.reset_index(drop=True)
df = df.round(2)
df

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Date,Time
0,19374.85,19377.90,19309.10,19342.65,19342.65,307400,2023-08-29,00:00:00
1,19433.45,19452.80,19334.75,19347.45,19347.45,233000,2023-08-30,00:00:00
2,19375.55,19388.20,19223.65,19253.80,19253.80,562600,2023-08-31,00:00:00
3,19258.15,19458.55,19255.70,19435.30,19435.30,333000,2023-09-01,00:00:00
4,19525.05,19545.15,19432.85,19528.80,19528.80,296800,2023-09-04,00:00:00
5,19564.65,19587.05,19525.75,19574.90,19574.90,256800,2023-09-05,00:00:00
6,19581.20,19636.45,19491.50,19611.05,19611.05,287600,2023-09-06,00:00:00
7,19598.65,19737.00,19550.05,19727.05,19727.05,304900,2023-09-07,00:00:00
8,19774.80,19867.15,19727.05,19819.95,19819.95,288100,2023-09-08,00:00:00
9,19890.00,20008.15,19865.35,19996.35,19996.35,248800,2023-09-11,00:00:00
10,20110.15,20110.35,19914.65,19993.20,19993.20,328100,2023-09-12,00:00:00
11,19989.50,20096.90,19944.10,20070.00,20070.00,251400,2023-09-13,00:00:00
12,20127.95,20167.65,20043.45,20103.10,20103.10,275100,2023-09-14,00:00:00
13,20156.45,20222.45,20129.70,20192.35,20192.35,438200,2023-09-15,00:00:00
14,20155.95,20195.35,20115.70,20133.30,20133.30,264900,2023-09-18,00:00:00
15,19980.75,20050.65,19878.85,19901.40,19901.40,378100,2023-09-20,00:00:00
16,19840.55,19848.75,19709.95,19742.35,19742.35,275100,2023-09-21,00:00:00
17,19744.85,19798.65,19657.50,19674.25,19674.25,246400,2023-09-22,00:00:00
18,19678.20,19734.15,19601.55,19674.55,19674.55,188400,2023-09-25,00:00:00
19,19682.80,19699.35,19637.45,19664.70,19664.70,204900,2023-09-26,00:00:00
20,19637.05,19730.70,19554.00,19716.45,19716.45,203600,2023-09-27,00:00:00
21,19761.80,19766.65,19492.10,19523.55,19523.55,352800,2023-09-28,00:00:00
22,19581.20,19726.25,19551.05,19638.30,19638.30,243500,2023-09-29,00:00:00
23,19622.40,19623.20,19479.65,19528.75,19528.75,221700,2023-10-03,00:00:00
24,19446.30,19457.80,19333.60,19436.10,19436.10,277100,2023-10-04,00:00:00
25,19521.85,19576.95,19487.30,19545.75,19545.75,234900,2023-10-05,00:00:00
26,19621.20,19675.75,19589.40,19653.50,19653.50,159100,2023-10-06,00:00:00
27,19539.45,19588.95,19480.50,19512.35,19512.35,165100,2023-10-09,00:00:00
28,19565.60,19717.80,19565.45,19689.85,19689.85,216600,2023-10-10,00:00:00
29,19767.00,19839.20,19756.95,19811.35,19811.35,213700,2023-10-11,00:00:00
30,19822.70,19843.30,19772.65,19794.00,19794.00,217900,2023-10-12,00:00:00
31,19654.55,19805.40,19635.30,19751.05,19751.05,255000,2023-10-13,00:00:00
32,19737.25,19781.30,19691.85,19731.75,19731.75,181000,2023-10-16,00:00:00
33,19843.20,19849.75,19775.65,19811.50,19811.50,185800,2023-10-17,00:00:00
34,19820.45,19840.95,19659.95,19671.10,19671.10,198900,2023-10-18,00:00:00
35,19545.20,19681.80,19512.35,19624.70,19624.70,230300,2023-10-19,00:00:00
36,19542.15,19593.80,19518.70,19542.65,19542.65,198300,2023-10-20,00:00:00
37,19521.60,19556.85,19257.85,19281.75,19281.75,176000,2023-10-23,00:00:00
38,19286.45,19347.30,19074.15,19122.15,19122.15,225300,2023-10-25,00:00:00
39,19027.25,19041.70,18837.85,18857.25,18857.25,300400,2023-10-26,00:00:00
40,18928.75,19076.15,18926.65,19047.25,19047.25,205200,2023-10-27,00:00:00
41,19053.40,19158.50,18940.00,19140.90,19140.90,180100,2023-10-30,00:00:00
42,19232.95,19233.70,19056.45,19079.60,19079.60,206000,2023-10-31,00:00:00
43,19064.05,19096.05,18973.70,18989.15,18989.15,194100,2023-11-01,00:00:00
44,19120.00,19175.25,19064.15,19133.25,19133.25,245600,2023-11-02,00:00:00
45,19241.00,19276.25,19210.90,19230.60,19230.60,189500,2023-11-03,00:00:00
46,19345.85,19423.00,19309.70,19411.75,19411.75,180700,2023-11-06,00:00:00
47,19404.05,19423.50,19329.10,19406.70,19406.70,198700,2023-11-07,00:00:00
48,19449.60,19464.40,19401.50,19443.50,19443.50,195000,2023-11-08,00:00:00
49,19457.40,19463.90,19378.35,19395.30,19395.30,0,2023-11-09,00:00:00

# EMA AND SMA AND CANDLE

In [9]:
support_resistance = []
df['10EMA'] = df['Close'].ewm(span=10, adjust=False).mean()
current_high = df.tail(100)['High'].max()
current_low = df.tail(100)['Low'].min()
trend = None
ema_values = df['10EMA']

change_error = 10 # Number of consecutive values to consider for trend change

for i in range(1, len(ema_values) - 1):
    if ema_values[i] > ema_values[i - 1] and ema_values[i] > ema_values[i + 1]:
        if i + change_error < len(ema_values) and all(ema_values[i] > ema_values[j] for j in range(i + 1, i + change_error)):
            trend = "Resistance"
    elif ema_values[i] < ema_values[i - 1] and ema_values[i] < ema_values[i + 1]:
        if i + change_error < len(ema_values) and all(ema_values[i] < ema_values[j] for j in range(i + 1, i + change_error)):
            trend = "Support"
    else:
        trend = ""

    if trend:
        support_resistance.append([ema_values[i], df['Date'].iloc[i], df['Time'].iloc[i], trend])

support_resistance_df = pd.DataFrame(support_resistance, columns=['10EMA', 'Date', 'Time', 'Support/Resistance'])

# support_resistance_df.to_csv("nifty_50_support.resis.csv")
support_resistance_df

          10EMA        Date      Time Support/Resistance
0  19327.209504  2023-08-31  00:00:00            Support
1  19939.316105  2023-09-18  00:00:00         Resistance
2  19606.038352  2023-10-09  00:00:00            Support
3  19720.778971  2023-10-17  00:00:00         Resistance

# Febonacie

In [4]:
import yfinance as yf
import plotly.graph_objects as go

# Define the stock symbol and timeframe
symbol = '^NSEI'
interval = '5m'
period = '1d'

# Download stock data
df = yf.download(symbol, interval=interval, period=period)
df['Date'] = df.index.date
df['Time'] = df.index.time
df = df.reset_index(drop=True)
df = df.round(2)

# Calculate maximum and minimum prices for the last 50 candles
max_price = df['High'].tail(50).max()
min_price = df['Low'].tail(50).min()

# Create Fibonacci retracement levels
fibonacci_levels = [0, 0.706, 0.618,0.79,1]

# Calculate Fibonacci retracement values
fibonacci_values = [min_price + level * (max_price - min_price) for level in fibonacci_levels]

[*********************100%%**********************]  1 of 1 completed

In [5]:
fibonacci_values

[19381.4, 19436.7151, 19429.8203, 19443.2965, 19459.75]